body {
    background-image: url(../image/background.png);
    background-size: cover;
}

/* Navbar */

.navbar-brand, .nav-link {
    color: white !important;
    text-align: center;
}

.nav-link {
    font-family: 'Poppins', sans-serif;
    margin-right: 30px;
}

.navbar-brand {
    font-family: 'Merienda One', cursive;
    font-size: 40px;
}

.nav-link:hover::after {
    content: '';
    display: block;
    border-bottom: 3px solid #FEA754;;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
}

.collapse .navbar-nav .btn-primary {
    background-color: #FEA754;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    border: none;
}

.collapse .navbar-nav .btn-primary:hover {
    background-color: rgb(224, 138, 57);
}




/* Jumbotron */
.jumbotron .display-4 {
    margin-bottom: 50px;
    margin-top: 200px;
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.jumbotron {
    background-image: url(../image/galery.jpg);
    background-size: cover;
    height: 800px;
}

.jumbotron {
    margin-top: -86px;
}


/* Responsive Breakpoint */
@media only screen and (max-width: 992px) {
    .navbar-brand, .nav-link {
        color: black !important;
    }

    .nav-link {
        margin-right: 0px;
    }

    .jumbotron {
        margin-top: 10px;
    }    

    .container .row .col h3 {
        margin-left: 120px;
    }

    .footer {
        width: 100%;
        background: linear-gradient(to right, rgba(6,45,161,1) 0%, rgba(12,71,235,1) 100%);
        height: 330px !important;
    }

    .footer .container .row h4 {
        margin-top: 10px;
    }

    .carousel-caption h3 {
        font-size: 10px !important;
    }

    .navbar-nav .btn {
        width: 100% !important;
    }
    
}

.container .row h1 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin-bottom: 60px;
    color: #062EA1;
    margin-top: 70px;
}

.container .row h1::after {
    content: '';
    display: block;
    border-bottom: 3px solid #FEA754;;
    width: 50%;
    margin: auto;
}

/* Carousel */
.carousel-caption h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.carousel-caption p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}



/* Footer */
.footer {
    width: 100%;
    margin-top: 50px;
    height: 230px;
    background: linear-gradient(to right, rgba(6,45,161,1) 0%, rgba(12,71,235,1) 100%);
    color: white;
}

.footer h6 {
    text-align: center;
    padding-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.footer .container .row h4 {
    font-family: 'Merienda One', cursive;
    font-size: 40px;
}

.footer .container .row p {
    font-family: 'Poppins', sans-serif;
}

.footer .container .row h3 {
    padding-top: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.footer .container .row span {
    padding-left: 10px;
    padding-bottom: 15px;
    font-family: 'Poppins', sans-serif;
}

.footer .container .row img {
    padding-bottom: 10px;
}